* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-size: 1.6rem;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

body {
  background: url(../../images/video.gif);
  opacity: .99 black;
}

.carousel__pic1 {
  background: url(../../images/pic1.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

.carousel__pic2 {
  background: url(../../images/pic2.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

.carousel__pic3 {
  background: url(../../images/pic3.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

.carousel__pic4 {
  background: url(../../images/pic4.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

.carousel__pic5 {
  background: url(../../images/pic5.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

.carousel__pic6 {
  background: url(../../images/pic6.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

.carousel__pic7 {
  background: url(../../images/pic7.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

.header {
  height: 100px;
}

.header__menu {
  width: 100%;
  margin-right: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header__menu .prueba {
  display: none;
  text-align: right;
}

.header__menu .prueba .list__container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.header__menu .prueba .list-item {
  color: white;
  text-decoration: none;
  margin-right: 50px;
}

.header__menu .icon__container {
  margin-right: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 10%;
}

.header__menu .icon__container .icon {
  background-position: center;
}

.header__menu:hover .prueba, .prueba:hover {
  display: block;
}

.list-item:hover {
  border-bottom: white 2px solid;
}

.container-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.tittle-search {
  font-weight: 400;
  line-height: 1rem;
  margin: 20px auto;
  width: 40%;
}

.search {
  width: 60%;
  align-self: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #58555A;
  color: white;
  border: 5px solid white;
  outline: none;
}

::placeholder {
  color: white;
  font-size: .8rem;
}

.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 30px;
  position: relative;
  top: 2rem;
}

.carousel__container {
  white-space: nowrap;
  margin: 50px auto;
  padding: 20px;
  height: 300px;
  width: 90%;
}

.carousel .pics {
  width: 200px;
  height: 250px;
  border-radius: 15px;
  margin-right: 30px;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
}

.carousel .pics:hover ~ .pics {
  transform: translate3d(10px, 0px, 0px);
}

.carousel .carousel__container:hover .pics {
  opacity: .3;
}

.carousel .carousel__container:hover .pics:hover {
  transform: scale(1.5);
  opacity: 1;
  transition: 450ms all;
  transform-origin: center;
}

.add {
  height: 500px;
}
/*# sourceMappingURL=main.css.map */