*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    background-color: black;
    font-size: 2rem;
    color: white;
}
.bodi{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    /* border: 2px white solid; */
    width: 8rem;
    padding: 0.2rem;
    text-align: center;
    position: relative;
    top: 1rem;
    margin: auto;
    font-size: 1rem;
}

#canva{
    border: chartreuse dashed 1px;
    width: 100px;
    height: 100px;
    position: relative;
    top: 1rem;
    display: flex;
    margin: auto;
}
p{
    background-color: white;
    color: black;
    display: flex;
    padding: 1rem;
    width: 20rem;
    margin: auto;   
    justify-content: center;
    position: relative;
    top: 1rem;
    border-radius: 1rem;
}
