.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(#010626, $alpha: .5);
    padding: 20px;


    a{
        color: white;
        text-align: center;
        text-decoration: none;
        width: 150px;
        margin: 10px auto;
    }
    
}

a:hover{
    border-bottom: white 2px solid;
}