$pics:(
pic1: url(../../images/pic1.jpg),
pic2: url(../../images/pic2.jpg),
pic3: url(../../images/pic3.jpg),
pic4: url(../../images/pic4.jpg),
pic5: url(../../images/pic5.jpg)
);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'halo';
    src: url(../../font-halo/Outline.ttf);
}

html{
    font-size: 62.5%;
    color: white;
    font-family:'Work Sans', sans-serif;
}
body{
    background: url(../../images/background.png);
    background-color: rgba( #000000, 1);
    font-size: 1.6rem;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@each $name, $pic in $pics{
    .carousel__#{$name}{
        background: $pic no-repeat center;
        background-size: cover;
        background-position: center;
        object-fit: cover;
    }
}