.origin{
        display: flex;
        justify-content: center;
        height: auto;
        margin-bottom: 100px;
        width: 100%;
        padding-top: 50px;
    
    .login {
        background-color: rgba(173, 149, 149, 0.2);
        border: 2px solid white;
        border-radius: 40px;
        box-shadow: 1px 1px 15px 1px white;
        color:  white;
        padding: 40px 30px;
        width: 50%; 
        min-height: 400px;

        &__container {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;

            h2{
                margin-bottom: 40px;
                font-size: 4rem;
            }

        .login__container--form {
            display: flex;
            flex-direction: column;
            width: 100%;

            .input{
                border-radius: 15px;
                margin: 0 auto 15px;
                height: 35px;
                background-color: rgba(#041159, $alpha: .7);
                border: solid #041159 1px;
                color: white;
                outline: none;
                font-size: 1.6rem;
                width: 80%;
                text-align: center;
                
            }

            .button{
                background-color: rgba(#041159, $alpha: .5);
                color: white;
                width: 30%;
                margin: 0 auto;
                height: 40px;
                border-radius: 15px;
                font-size: 1.7rem;
                cursor: pointer;
            }
            
            .login__container--remember-me {
                color: white;
                display: flex;
                justify-content: space-between;
                align-content: center;
                margin: 20px 0;
                font-size: 1.5rem;

                label{
                    margin-left: 20%;

                    input{
                        margin-right: 10px;
                    }
                }
            
            }
            .login__container--remember-me a {
                color: white;
                text-decoration: none;
                margin-right: 20%;
            }
            .login__container--remember-me a:hover {
                text-decoration: underline;
            }
        }

        .login__container--social-media > div {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-bottom: 10px;
            cursor: pointer;
            
        }

        .login__container--register{
            margin-top: 20px;
            font-size: 1.8rem;
            font-weight: 500;
            
        }
        .login__container--register a{
            color: white;
        }


        }
    }
}

.button:hover{
    border: #010626 solid 5px;
}

input::placeholder{

 color: white;
 text-align: center;
 font-size: 1.6rem;

}