.bar-search{
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: rgba( #041159, $alpha: .5);

    .container-tittle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 40%;
        margin: 0 auto;

        .tittle-search{
            font-size: 2.5rem;
        }
    }

    .container-search{
        display: flex;
        justify-content: center;
        width: 70%;
        height: 40%;
        margin: 0 auto;

        .search{
            width: 80%;
            height: 70%;
            text-align: center;
            border-radius: 15px;
            font-size: 1.6rem;
            outline: none;
            background-image: url("https://img.pngio.com/halo-saga-ring-world-png-by-albertweskerg-on-deviantart-halo-ring-png-256_256.png");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: center;
            background-size: 40px;
        }
    }
}






.search::placeholder{
    color: #041159;
    font-size: 1.8rem;
}
